{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Notes</h2>
    <table>
    {{if .Notes}}
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Created</th>
        </tr>
        {{range .Notes}}
            <tr>
                <td><a href='/note/view/{{.ID}}'>#{{.ID}}</a></td>
                <td>{{.Title}}</td>
                <td>{{humanDate .CreatedAt}}</td>
            </tr>
        {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here yet!</p>
    {{end}}
{{end}}
