{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ template "title" . }} - Notorium</title>
    <link rel="stylesheet" href="/static/css/pico.min.css" />
  </head>
  <body class="container">
    <header>
      <nav>
        <ul>
          <li><strong>Notorium</strong></li>
        </ul>
        {{ template "menu" . }}
      </nav>
    </header>
    <main>
      {{ template "main" . }}
    </main>
    <footer>Powered by <a href="https://golang.org/">Go</a></footer>
  </body>
</html>
{{ end }}
